<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a href="#">I'm New &dtrif;</a>
        <ul class="dropdown">
            <li><a routerLink="what-we-believe">what-we-believe</a></li>
            <li><a routerLink="who-we-are">who-we-are</a></li>
        </ul>
    </li>
    <li><a href="#">Next Steps &dtrif;</a>
        <ul class="dropdown">
            <li><a routerLink="baptism">baptism</a></li>
            <li><a routerLink="get-connected">get-connected</a></li>
            <li><a routerLink="help-out">help-out</a></li>
        </ul>
    </li>
    <li><a routerLink="give">give</a> </li>
  </ul>
</nav>
