<app-header></app-header>
<div class="navbar">
  <div class="church-logo">
    <!-- TODO: fix the logo on the top left -->
    <a routerLink="/"><img></a>
  </div>
  <ul class="item-list">
    <li class="dropdown">
      <a href="#">I'm New</a>
      <div class="dropdown-content">
        <a routerLink="/who-we-are">Who We Are</a>
        <a href="#service-times">Service Times</a>
        <a routerLink="/what-we-believe">What We Believe</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#">Next Steps</a>
      <div class="dropdown-content">
        <a routerLink="/baptism">Baptism</a>
        <a routerLink="/help-out">Help Out</a>
      </div>
    </li>
    <li><a href="#events">Events</a></li>
    <li><a href="https://engage.suran.com/atwaternaz/s/login">Give</a></li>
  </ul>
  <div class="watch-now">
    <!-- &#64; -->
    <app-button label="WATCH@10:45" [url]="'https://us02web.zoom.us/j/85831560269?pwd=alhzVml1TG1sMFd5SzJYV1V6MlQzdz09'"></app-button>
  </div>
</div>
