<app-base-page>
    <div class="heading">
        BAPTISM
    </div>
</app-base-page>
<!-- START OF PAGE -->
<div class="background">
    <div class="heading1">
        Wanting to get baptised!
    </div>
    <div class="mini-heading">
        If you are wanting to be baptised click the link below to start an email and we will get to you as soon as possible:<br>
    </div>
    <div class="jobs">
        <div class="explanation">
            <button onclick="openEmailClient()">Contact Us</button>
        </div>   
    </div>
</div>


