
<div class="picture">
    <div class="heading">
        TITHING
    </div>
</div>
<div class="background">
    <div class="heading1">
        What is Tithing?
    </div>
    <div class="mini-heading">
        Tithing is a practice rooted in religious and spiritual traditions, particularly within Christianity. The word "tithe" refers to giving a tenth or 10% of one's income to support the church and its mission. The rationale behind tithing includes:
        
    </div>
    <div class="explanation">
        <ol>
            <strong>Biblical Teaching</strong>: Tithing finds its foundation in various biblical passages, such as Malachi 3:10, where believers are encouraged to bring their tithes to the storehouse.
            
            <br><strong>Supporting the Church</strong>: Tithing is a way to financially support the church and its activities, including worship services, community outreach, and ministerial efforts.
            <br><strong>Trust and Obedience</strong>: It is considered an act of trust and obedience to God's commandments, reflecting a commitment to prioritize spiritual values over material wealth.
            <br><strong>Blessings and Abundance</strong>: Some believers view tithing as a way to open themselves up to God's blessings and abundance, both spiritually and materially.g
            <br><strong>Community and Fellowship</strong>: Tithing fosters a sense of community and fellowship among believers, contributing to the overall well-being of the church family.
            <br><strong>Stewardship:</strong> Tithing promotes the idea of responsible stewardship, acknowledging that all resources ultimately belong to God, and believers are entrusted with their use.
        </ol>
    </div>
    <div class="jobs">
        <app-button>
            <a routerLink="/contact-us" class="text">SUNDAY CHURCH</a>
        </app-button>
        <div class="job-description">
            Embarking on the journey of tithing is an opportunity
            to align your financial practices with your faith 
            and experience a deeper connection with God. By 
            committing to give a portion of your income, 
            you contribute to the vitality of your church, 
            supporting its mission and outreach. Tithing is 
            more than a financial gesture; it's an act of tr
            ust, obedience, and gratitude. Embrace the joy of
             giving, open yourself to spiritual growth, and 
             witness the impact of your contribution in 
             fostering a thriving community. Start tithing 
             today, and join a fulfilling journey of 
             stewardship and blessings.
        </div>
    </div>
</div>