* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


.body {
    display: flex;
    flex-direction: column;
    min-height: 5vh; /* Ensure full viewport height */
    margin: 0;
    /* height: 100vh; */
}

.content {
    flex: 1; /* Take remaining vertical space */
    padding: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center align content */
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}