.contact-info {
    color: #ffffff;
    background-color: rgba(120, 120, 120,.9);
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text content */
}

@media only screen and (min-width: 360px){
    .phone, 
    .location,
    .email, 
    .youtube, 
    .facebook{
        margin-left:10px;
    }

    .contact-info{
        font-size:small;
    }
}


@media only screen and (min-width: 768px){
    .phone, 
    .location,
    .email, 
    .youtube, 
    .facebook{
        margin-left:10px;
    }

    .contact-info{
        font-size:large;
    }
}