
/* 
FOR THE DROP DOWN
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
/*
END DROPDOWN
*/


/* 
NAVBAR / CONTACT-INFO
*/
.church-logo,
.item-list,
.navbar,
.watch-now,
.church-info,
.church-name,
.church-location,
.church-time,
.church-new,
.church-old {
    margin: 5px;
}

.church-logo img {
    background-image: url("../../assets/img/church-logo.jpg"); /* Correct the path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100px;
    height: 100px;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (min-width: 360px){
    .navbar{
        display:contents;  
        text-align:center;
    }

    .watch-now{
        display:contents;
        align-content:center;
        text-align:center;
    }

    .slideshow{
        min-height: 30vh;
    }

    .picture {
        min-height: 30vh; 
    }
}

/*
FOR TABLET
*/
@media only screen and (min-width: 768px){
    .navbar{
        display:flex; 
    }
    .picture{
        min-height: 30vh;
    }
}

/*
FOR COMPUTER
*/
@media only screen and (min-width: 1000px){
    .navbar{
        display:flex;  
    }
    .slideshow{
        min-height: 100vh;
    }
    .picture{
        min-height: 100vh;
    }
}