<div class="page1" #page1>
    <app-navbar></app-navbar>
    <div class="church-info">
      <div class="church-name">FIRST CHURCH OF THE NAZARENE</div>
      <div class="church-location">ATWATER</div><br>
      <div class="church-new">
        <app-button routerLink="/what-we-believe" label="NEW? START HERE"></app-button>
      </div>
      <div class="church-old">
        <app-button routerLink="/get-connected" label="OLD? SEE WHAT'S HAPPENING"></app-button>
      </div>
    </div>
</div>
<div class="slideshow" #slideshow id="events">
    <h1 class="notes">WEEKLY, MONTHLY, AND ANNUAL EVENTS</h1>
</div>
<!-- MISSION -->
 <div class="background">
    <h1 class="notes">MISSION STATEMENT</h1>
    <div class="mission">
        <h1 class="heading1">Our Mission:</h1>
        <h1 class="heading2">Connecting our community to Jesus one relationship at a time</h1>
        <h2 class="description">
        We desire to be a dynamic community of faith: “living lives worthy of the gospel of Christ, standing firm in one spirit and striving side by side with one mind for the faith of the gospel” (Philippians 1:27).
        </h2>
    </div>
    <!-- SERVICE TIMES -->
    <div class="service-times" id="service-times">
        <div class="service-times-title">SERVICE TIMES</div>
        <div class="day">WEDNESDAY
            <div class="events">Spanish Service 7:00pm</div>
        </div>
        <div class="day">FRIDAY
            <div class="events">Spanish Prayer Meeting 7:00pm</div>
        </div>
        <div class="day">Saturday
            <div class="events">Worship Service 6:00pm</div>
        </div>
        <div class="day">SUNDAY
            <div class="events">
                Sunday School 9:30am<br>
                Worship Service 10:45am<br>
                Spanish Service 12:15am
            </div>
        </div>
    </div>
</div>
