<div class="page1" #page1>
    <app-navbar></app-navbar>
    <!-- START OF PAGE -->
    <div class="heading">
        HELP OUT
    </div>
</div>
<!-- START OF PAGE -->
<div class="background">
    <div class="heading1">
        Serve on a Team
    </div>
    <div class="mini-heading">
        Church would not be able to function without the help of volunteers!!
    </div>
    <div class="explanation">
        Hebrews 12:28-29 (NIV): "Therefore, since we are receiving a kingdom that cannot be shaken, let us be thankful, and so worship God acceptably with reverence and awe, for our 'God is a consuming fire.'"
        <br>
        
    </div>
    <div class="jobs">
        <div class="explanation">
            To be notified on your choice of sunday services or the weekend church distribution
        </div>
        <form method="post" action="https://app.flocknote.com/group/419646/addToGroupFromOutside" target="_blank">
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="email" name="email" placeholder="Email Address" />
            <input type="tel" name="mobile_phone" placeholder="Mobile Phone" />
            <button type="submit" value="submit">Sign Me Up</button>
        </form>
    </div>
    <div class="jobs">
        <div class="mini-heading">
            HOW TO HELP OUT AT THE FOOD PANTRY
        </div>
        <div class="explanation">
            Volunteering at the food pantry is a profoundly rewarding experience that goes beyond simply giving food to those in need; 
            <br>it’s about sharing hope, compassion, and community spirit. When you volunteer, you become part of a dedicated team working 
            <br>tirelessly to ensure that families facing hardships do not go hungry.
            <br>CALL 209-358-8110 FOR MORE DETAILS
        </div>
    </div>
    <div class="jobs">
        <div class="mini-heading">
            HOW TO BECOME A MEMBER
        </div>
        <div class="explanation">
            You must go through a class on what the Nazarene Church believes<br>
            You must understand what we believe and agree to not do things directly opposed<br>
            to what we believe.<br>
            CALL 209-358-8110 FOR MORE DETAILS
        </div>
    </div>
</div>

