<app-base-page>
    <div class="heading">
        WHO WE ARE
    </div>
</app-base-page>
<div class="container">
    <!-- DAN -->
    <div class="item-container">
        <div class="dan">
            <a><img></a>
        </div>
        <div class="info-container">
            <h2>Dan Glaesar</h2>
            <div class="info">
                <p>Job Title: Pastor</p>
                <p>Email: jglaesar&#64;gmail.com</p>
                <p>Brief Description: Bright young talent coming from Atwater California, full time pastor, part time jujutsu enthusiast</p>
            </div>
        </div>
    </div>
    <!-- Eddie -->
    <div class="item-container">
        <div class="eddie">
            <a><img></a>
        </div>
        <div class="info-container">
            <h2>Eddie Martinez</h2>
            <div class="info">
                <p>Job Title: Pastor of Spanish Church</p>
                <p>Email: eddie&#64;gmail.com</p>
                <p>Brief Description: Nice, open to talk to, bible enthusiast</p>
            </div>
        </div>
    </div>
    <!-- Chery -->
    <div class="item-container">
        <div class="chery">
            <a><img></a>
        </div>
        <div class="info-container">
            <h2>Chery</h2>
            <div class="info">
                <p>Job Title: Board Member | Treasurer </p>
                <p>Email: chery&#64;gmail.com</p>
                <p>Brief Description: Nice, open to talk to, bible enthusiast</p>
            </div>
        </div>
    </div>
    <!-- Charice -->
    <div class="item-container">
        <div class="charice">
            <a><img></a>
        </div>
        <div class="info-container">
            <h2>Charice</h2>
            <div class="info">
                <p>Job Title: Board Member | Treasurer | Facility Manager</p>
                <p>Email: kgartroph&#64;gmail.com</p>
                <p>Brief Description: Guitar enthusiast, loves long walks on the beach</p>
            </div>
        </div>
    </div>
    <!-- Keston -->
    <div class="item-container">
        <div class="keston">
            <a><img></a>
        </div>
        <div class="info-container">
            <h2>Keston Gartroph</h2>
            <div class="info">
                <p>Job Title: Board Member | Vocalist | Guitarist</p>
                <p>Email: kgartroph&#64;gmail.com</p>
                <p>Brief Description: Guitar enthusiast, loves long walks on the beach</p>
            </div>
        </div>
    </div>
    <!-- Start of history of who we are -->
    <div class="history">
        <h1>
            HISTORY OF US
        </h1>
        <div>
            <div>
                <h2>Where We Started</h2>
                <div class="info">
                    We began our journey in 1908 through the merging of three holiness movements. From those early days, we rapidly grew, reaching across the globe with our missions and church planting efforts.
                    <br>As we expanded, we established numerous educational institutions and significantly grew our missionary work, becoming a major force in global evangelism and education.
                </div>
            </div>
            
            <div>
                <h2>Where We Are Now</h2>
                <div class="info">
                    Today, we’re proud to operate in over 160 countries, actively engaged in global missions, compassionate ministries, and educational initiatives.
                    <br>We face challenges such as declining enrollments and financial pressures, but we are adapting our strategies to ensure we maintain our impact and relevance.
                </div>
            </div>
            
            <div>
                <h2>Where We Are Going</h2>
                <div class="info">
                    Looking ahead, we are embracing innovative digital outreach and mission strategies to connect with new generations and meet emerging global needs.
                    <br>We’re focusing on enhancing our global collaborations and optimizing resources to further amplify our worldwide mission and effectiveness.
                </div>
            </div>            
        </div>
    </div>
    <br>
    <br>
</div>
