$primary-bg-color: black;
$primary-text-color: wheat;
$heading-color: #fff;
$accent-bg-color: rgba(78, 218, 164, 0.5);
$secondary-bg-color: rgba(218, 78, 78, 0.5);
$image-size: 100px;
$container-padding: 20px;

// Heading Styles
.heading {
    text-align: center;
    font-size: 2em;
    color: $heading-color;
    margin-bottom: 20px;

    &::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: $heading-color;
        margin: 10px auto;
    }
}

// Container Styles
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-bg-color;
}

.item-container {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $container-padding;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    &:nth-child(odd) {
        flex-direction: row;
    }

    img {
        width: 50%;
        border-radius: 50%;
        margin-bottom: 10px;
    }
}

// Info Container Styles
.info-container {
    color: $primary-text-color;
    text-align: center;

    h2 {
        color: #333;
        margin-bottom: 10px;
    }

    p {
        color: #d1c2c2;
        margin: 0px 5px;
    }
}

// Text Inside Containers
h2,
.info {
    background-color: $accent-bg-color;
    color: white;
}

.info {
    background-color: $secondary-bg-color;
}

// Person Image Styles
.dan img,
.eddie img,
.chery img,
.charice img,
.keston img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: $image-size;
    height: $image-size;
}

.dan img {
    background-image: url("../../../assets/img/people/dan-pastor.jpg");
}

.eddie img {
    background-image: url("../../../assets/img/people/eddie1.jpg");
}

.chery img {
    background-image: url("../../../assets/img/people/chery.jpg");
}

.charice img {
    background-image: url("../../../assets/img/people/man1.jpg");
}

.keston img {
    background-image: url("../../../assets/img/people/keston.jpg");
}

// Who We Are History Styles
.history {
    flex: 0 0 100%;
    max-width: 100%;
    padding: $container-padding;
    color: $primary-text-color;
    text-align: center;

    h2 {
        display: inline-block;
        background-color: $accent-bg-color;
        color: white;
        padding: 5px 10px;
        margin: 10px auto;
        border-radius: 5px;
    }

    .info {
        max-width: 80%;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: $secondary-bg-color;
        color: white;
        text-align: center;
        border-radius: 5px;
    }
}
